[Unit]
Description=Dynamically Update DNS Records for %i in Cloudflare
Documentation=https://github.com/qianbinbin/cloudflare-ddns
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/usr/local/etc/cloudflare-ddns/%i
ExecStart=/usr/local/bin/cloudflare-ddns $CFDDNS_OPTS

[Install]
WantedBy=multi-user.target
